<div class="container mt-5">
  <h1>Cursos</h1>
  <div
    class="container card shadow containerInside mt-3 p-3 pt-1 position-relative"
  >
    <p>Seleccione un Curso</p>
    <div class="d-flex">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-3"
        *ngFor="let course of courses"
      >
        <div
          class="btn card h-75 shadow p-3 m-3 d-flex align-items-center"
          (click)="searchGroups(course)"
        >
          <p>{{ course.nombre }}</p>
          <p>{{ course.codigo }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container-groups mt-5 mb-5" *ngIf="groups.length > 0">
  <div
    class="container card shadow containerInside mt-3 p-3 pt-1 position-relative"
  >
    <div class="d-flex">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-3"
        *ngFor="let group of groups"
      >
        <div
          class="btn card card-groups h-75 shadow p-3 d-flex align-items-center m-3"
          (click)="navegateToGroup(group.grupoId)"
        >
          <p>GRUPO: {{ group.grupoId }}</p>
          <p>HORARIO: {{ group.horario }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
